<!DOCTYPE html>
<html>
    <head>
        <script type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}scripts/main.js'></script>
        <link rel='stylesheet' type='text/css' href="{{ STATIC_URL }}css/main.css" />
        <title>Wuphf</title>
    </head>
    <body>
        <div id='main-wrap'>
            {% include 'header.html' %}
            <div id='body-wrap'>
            {% block content %}{% endblock %}
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
